<div class="info-container">
  <div class="info">
    <div class="info-row">
      <div class="form-group">
        <input type="text" class="form-control" id="inputSearch" placeholder="Search...">
      </div>
    </div>
  </div>
</div>
<div id="map"></div>
