<div class="info-container">
  <div class="info">
    <div class="info-row filter">
      <div class="form-group">
        <input type="text" class="form-control" id="inputSearch" placeholder="Filtrar...">
      </div>
    </div>
  </div>
  <div class="info">
    <div class="info-row">
      <label class="checkbox-inline">
        <input type="checkbox"
               id="transport-checkbox"
               data-type="transport"
               checked>
        Camiones
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" 
               id="store-checkbox"
               data-type="store"
               checked>
        Cervecerías/Bares
      </label>
    </div>
  </div>
</div>
<div id="map"></div>
