<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h3> <%= "Editar #{t('models_names.store')}" %> </h3>
      </div>
      <%= render :partial => 'form' %>

    </div>
  </div>
</div>
